@model IEnumerable<ProdutoModel>

@{
    ViewBag.Title = "Produtos";
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-5">
        <h1>Lista de Produtos</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var produto in Model)
                {
                    <tr>
                        <td class="col-3">@produto.Nome</td>
                        <td class="col-3">@produto.Preco</td>
                        <td class="col-3">@produto.Estoque</td>
                        <td class="col-1">
                            <a href="/Produto/Details/@produto.Id">Detalhes</a>
                        </td>
                        <td class="col-1">
                            <form asp-action="Delete" asp-controller="Produto" asp-route-id="@produto.Id" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <a asp-area="" asp-controller="Produto" asp-action="FormCadastro">Cadastrar produto</a>
    </div>
</div>