@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1 id="home-title" class="display-6">SuperMarket OMCorp</h1>
        <p class="lead">Welcome to SuperMarket OMCorp WebApp!</p>
        <hr class="my-4">
        <p>SuperMarket OMCorp is a fictional company created by
            <a href="mailto:gabriel.eringer.23@gmail.com">Gabriel Eringer de Oliveira</a>!
        </p>
    </div>
</div>